body{
	background: #000 url(fon/1622376322_16-phonoteka_org-p-zvezdnoe-nebo-piksel-art-krasivo-20.png); /* Фоновый цвет и фоновый рисунок*/
	color: #fafafa; 
	/* background-attachment: fixed; 
	background-repeat: repeat-x; 
	background-size: 100%;*/
	font-family: 'VT323', monospace; 

	object-fit: cover;
    background-size: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
	user-select: none;
}

.body2 {
	width: 100%;
	margin-top: 1vmin;
	display: flex;
    justify-content: center;
    align-items: center;	
}

.box_alf{
	/* width: 66%;         
	margin: 1% 15%;    
	padding: 1%;       
	font-size: 850%;
	text-align: center;
	background: rgba(235, 227, 218, 0.3);
	border-radius: 2%;  */

	position: relative;
    display: grid;
    grid-template-rows: repeat(5, 20vmin);
    gap: 1vmin;
	padding-top: 1vmin;
	padding-bottom: 1vmin;
    border-radius: 1vmin;
	font-size: 15vmin;
	background: rgba(235, 227, 218, 0.3);
}

.str_alf {
	padding-right: 1vmin;
	padding-left: 1vmin;
	position: relative;
    display: grid;
	grid-template-columns: repeat(6, 15vmin);
	gap: 1vmin;	
}

.alf{
	/* width: 10%;
	margin: 1% 0%;
	padding: 1.5% 0% 1.5% 0%;
	background: rgba(235, 227, 218, 0.25);
	border-radius: 3%;  */

	background: rgba(235, 227, 218, 0.2);
	border-radius: 1.5vmin;
	padding-top: 2vmin;
}

img{
	width: 4vmin;
	height: 4vmin;
	/* margin: 1% 0% 0% 2%; */
}

.name_{
	/* margin: 1% 55% 0% 0%; */
	font-size: 7vmin;
}

/* a{
	margin: 0% 0% 1% 0%;
	padding: 0.5%;
	font-size: 200%;
	background: rgba(235, 227, 218, 0.3);
	color: #fff;
	text-decoration: none;
	border-radius: 24%; 
} */

.back{
	float:right;
    background: rgba(235, 227, 218, 0.3);
	color: #fff;
	text-decoration: none;
	border-bottom-left-radius: 3vmin;
    font-family: 'Caveat', cursive;
    font-size: 5vmin;
    padding: 1%;
    padding-right: 3vmin;
}

span {
	display: inline-block;
	text-align: center;
}

.table {
	display: flex;
    justify-content: center;
    align-items: center;
}

table {	
	font-size: 5vmin;
	border-radius: 2vmin;
	/* background-color: rgba(196, 137, 214, 0.5); */
	
}

.table_num {
	width: 150vmin;
	background-color: rgba(196, 137, 214, 0.5);
}

.table_col {
	width: 120vmin;
	font-size: 9vmin;
}

th {
	width: 50vmin;
	background-color: rgba(196, 137, 214, 0.9);
	border-radius: 2vmin;
}

td {
	width: 50vmin;	
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 7vmin;
	
}

.h1{
	background-color: rgba(224, 177, 238, 0.3);
	border-radius: 1vmin;
}

h2 {
	background-color: rgba(196, 137, 214, 0.5);
	border-radius: 1vmin;
	text-align: center;
	font-size: 6vmin;
}

.dop {
	height: 30vmin;
	border-radius: 2vmin;
}

.green {
    background-color:#30ef0a;
	color: black;
}
.yellow {
    background-color:yellow;
	color: black;
}
.red {
    background-color:red;
}
.orange {
    background-color:#ff740a;
}
.blue {
    background-color:blue;
    color: white;
}
.pink {
    background-color: pink;
	color: black;
}
.brown {
    background-color:rgba(125, 49, 21);
    color: white;
}
.purple {
    background-color:purple;
    color: white;
}
.white {
    background-color:white;
	color: black;
}
.gray {
    background-color:gray;
}
.black {
    background-color:black;
    color: white;
}